.phone {
  margin-top: 10px auto;
  padding-right: 5px;
  width: 360px;
  height: 650px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
}

.top-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  margin: auto;
}
.time {
  margin: 0;
}
.cam {
  margin: 0;
}
.battery {
  margin: 0;
}

fieldset {
  width: 355px;
  height: 650px;
  border-radius: 30px;
  border: 5px solid black;
  padding: 0.5px;
  background-color: white;
  margin: 0 auto;
}
