.phone {
  margin-top: 10px auto;
  padding-right: 5px;
  width: 360px;
  height: 650px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
}

.top-phone{
  padding: 1px 20px;
  font-weight: bold;
  text-align: left;
  margin: auto;
}

fieldset {
  width: 355px;
  height: 650px;
  border-radius: 30px;
  border: 5px solid black;
  padding: 0.5px;
  background-color: white;
  margin: 0 auto;
}
