fieldset {
  width: 355px;
  height: 650px;
  border-radius: 30px;
  border: 5px solid black;
  padding: 0.5px;
  background-color: white;
  margin: 0 auto;
}

.phone {
  margin: auto;
  padding-right: 5px;
  width: 360px;
  height: 650px;
  background-color: gray;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
}

.app {
  text-align: left;
  background-color: rgb(238, 233, 233);
  border-radius: 2px;
}

.top-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  margin: auto;
}
.time {
  margin: 0;
}
.cam {
  margin: 0;
}
.battery {
  margin: 0;
}

.bottom-phone {
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin: auto;
}
