* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
}

.phone {
  width: 360px;
  height: 650px;
  background: white;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 0 0 20px black;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top-phone {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 18px;
  font-weight: bold;
  background: white;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: rgb(212, 208, 208);
  overflow: hidden;
}

.app {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
  background: rgb(219, 215, 215);
}

.bottom-phone {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.bottom-phone:hover {
  opacity: 0.8;
}

h1 { background: rgb(90, 89, 89); margin-bottom: 3px; }
h2 { background: rgb(122, 116, 116); margin-bottom: 10px; }
h3 { background: rgb(153, 149, 149); margin-top: 10px; margin-bottom: 5px; border-radius: 5px; padding-top: 3px; padding-bottom: 3px; }
h4 { background: rgb(153, 149, 149); margin: 5px 0; border-top-right-radius: 20px; padding-top: 3px; padding-bottom: 3px; }

.task-row {
  height: 32px;
}

.task-row input {
  height: 25px;          
  padding: 2px 30px;      
  font-size: 13px;       
  border: 1px solid black;
  border-radius: 5px;
}

.li-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.li-row span {
  flex: 1;
  margin-left: 8px;
}

button:active {
  transform: scale(0.95);
}

button {
  border: 1px solid black;
  background: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

button:hover {
  background: #969393;
}

.icon-btn {
  height: 23px;
  width: 32px;
  padding: 0;
  font-weight: bold;
}
